name: Lint and test

on: [push]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        python: ["3.11", "3.12", "3.13"]
        os: ["ubuntu-latest", "windows-latest"]
    
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv with Python ${{matrix.python}}
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{matrix.python}}

      - name: Linting code by ruff
        run: |
          uv run ruff check .

      - name: Check types by pyright
        run: |
          uv run pyright .

      - name: Run unit-tests
        run: uv run python -m unittest
